* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2 {
  color: rgb(40, 40, 40);
}
h3,
h4 {
  font-weight: 400;
  color: rgb(100, 100, 100);
}
body {
  font-family: "Lato", sans-serif;
}
.App {
  transition: all 0.5s ease;
}
.library-active {
  margin-left: 20%;
}
.card {
  position: relative;

  width: 50%;
  height: 20vh;
  top: 0;
  left: 25%;
  overflow: hidden;
}

.card img {
  width: 200%;
}
.wave {
  position: absolute;
  top: -10%;
  left: 0;
  animation: wave linear 5s infinite;
}
@keyframes wave {
  0% {
    transform: translateX(-33.5%);
  }
  100% {
    transform: translateX(-17.5%);
  }
}

@import "./song";
@import "./player";
@import "./library";
@import "./nav";
